{% extends "base.html" %}

{% block content %}

    <div class="container center">

    <div class="row">
        <div class="col-lg text-center">
              <h1>Greetings from Fox X FLO</h1>
            <p>First things first, for the best experience, please enter full screen.
                Cool.
                <br>
                Welcome.
                <br>
                Either check out other people's responses to Fog x FLO
                <br> or add to it with your own perspective!
                Worried?
                <br>
                Don't be! We'll walk you through it!
                <br>

                Have fun!
            </p>

            <a href="/list" class="btn btn-outline-primary">Explore</a>
            <span>or</span>
            <a href="/word" class="btn btn-outline-success">Create</a>

        </div>



    </div>


            </div>



{% endblock %}