{% extends "base.html" %}

{% block content %}

    <div class="container center">
    <h1>Gallery</h1>
        <p>Welcome!  This is a collection of responses to fog x FLO. </p>


    <div class="row justify-content-center">

                {% for row in rows %}

            <div class="photo_box border_black mt-5">
            <img id="pls" src="{{ row["photopath"]}}" alt="start"/>
            <p style="color:{{ row["hexColor"] }}">{{ row["word"]}}</p>
                <div class="row justify-content-center align-items-center">
                    <div class="color_box" style="background-color:{{ row["hexColor"] }}"></div>
                    <h3>{{ row["word"] }}</h3>
                </div>


         </div>

         {% endfor %}






    </div>


            </div>



{% endblock %}